<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Asset Management System</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../Styles/style.css"/>
    <script>let $= require('jquery');</script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>
  </head>
  <body>

    <div class="container" id="loginContainer">
      <div class="jumbotron">
        <h4 class="text-center">
            Welcome to <br>
            Asset Management System
        </h4>
        <div class="card">
          <div class="card-header bg-dark text-white font-weight-bold text-center">
            Recovery Form
          </div>
          <div class="card-body">
              <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <input type="text" class="form-control" placeholder="Security Code" aria-label="SecurityCode" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
                <input type="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="basic-addon1">
              </div>
            <button type="button" class="btn btn-outline-primary float-right">Recover</button>
          </div>
        </div>
        <div class="row">
          <div class="col"><a href="index.html" target="_self">Back to Login</a></div>
        </div>
      </div>
    </div>
  </body>
</html>
