<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Asset Management System</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css"/>
    <script>let $= require('jquery');</script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>
  </head>
  <body>
    <form id="removeTitleForm">
      
      <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">  
        
        <span class="d-block p-2 bg-secondary text-white text-center font-weight-bold mb-3">Information About The Item To Be Removed:</span>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="titleName">Title Name</label>
            <select type="text" class="form-control" id="titleName">
                <option>SAP AG</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="Wertpapierkennnummer">Wertpapierkennnummer (WKN)</label>
            <input type="text" class="form-control" id="wknNr">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount">
          </div>
          <div class="form-group col-md-6">
            <label for="price">Selling Price pro Title</label>
            <input type="number" class="form-control" id="buyingPrice">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label>Selling Costs</label>
            <input type="number" class="form-control" id="buyingCosts">
          </div>
          <div class="form-group col-md-4">
            <label>Selling Date</label>
            <input class="form-control" type="date" value="2020-08-19" id="example-date-input">
          </div>
          <div class="form-group col-md-3">
            <label for="Tax">Tax</label>
            <input type="number" class="form-control" id="inputTax">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Remove Title</button>
      </div>
    </form>
  </body>
